XML Digit 210/Relax NG/Schemaattempt1.rnc

start = twinkie
twinkie = element root {title, chapter+}
title = element title  {text}
chapter = element chapter {n?, heading, p+}
n = attribute n {xsd:integer}
heading = element heading {text}
p = element p {n, mixed{(q | date | time)* }}
q = element q {wordCount, mixed {(time | date)* }
wordCount = attribute wordCount {xsd:integer}
date = element date {text}
time = element time {text}

